#mainBanner {
  position: relative;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuresIcon {
  width: 60px;
  height: 60px;
}

#shopCard {
  height: 345px;
  background-color: rgb(87, 137, 137);
}
