#shopImgContainer {
  border: 0px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* height: 360px; */
  max-width: 310px;
}
#shopImage {
  width: 100%;
}
