#productCard {
  height: 380px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#productImageContainer {
  height: 260px;
  overflow: hidden;
}

#productImage {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#addCartButton {
  border: 1px solid #82b440;
  background-color: #00000000;
  color: #82b440;
  width: 35px;
  height: 35px;
  transition: 300ms;
}

#addCartButton:hover {
  color: #f8f8f8;
  background-color: #82b440;
}

#productViewButton {
  border: 1px solid #0185b4;
  background-color: #00000000;
  color: #0185b4;
  width: 70px;
  height: 35px;
  transition: 300ms;
}

#productViewButton:hover {
  background-color: #0185b4;
  color: #f8f8f8;
}
